/* .review-block {

} */

.list-block {
    margin: 5rem auto;
    width: 488%;
    height: 300%;
    text-align: left;
    padding: 5rem 3rem;
    border: 1px solid var(--outline);
    background-color: lightgray;
    border-radius: 0.5rem;

}

.title {
    color: darkblue;
}

.name {
    color: darkgoldenrod
}

.view-form{
    margin: 2rem auto;
    width: 100%;
    padding: 5rem 3rem;
    border: 1px solid var(--outline);
    background-color: lightgray;
    border-radius: 0.5rem;
}

